.services-container {
    padding: 40px 40px;
    background-color: #1c1d24;
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cardd {
    background: #131416;
    border-radius: 10px;
    border: 2px solid #dc965a;
    width: 100%;
    max-width: 300px;
    height: 250px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.cardd:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px 4px #dc965a;
}

.card-content {
    color: white;
    text-align: center;
}

.card-no {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc965a;
    margin: 0 auto 10px auto;
}

.card-title {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.card-paragraph {
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 0 10px;
}



@media (max-width: 767px) {
    .cardd {
        max-width: none;
        /* Allow cards to take full width */
        margin: 10px 10px;
        padding: 5px;
        /* Add side margins for small screens */
    }

    .card-title {
        font-size: 1em;
    }

    .card-paragraph {
        font-size: 0.8em;
    }
}

@media (max-width: 576px) {
    .cardd {
        max-width: none;
        /* Allow cards to take full width */
        margin: 10px 10px;
        padding: 5px;
        /* Add side margins for small screens */
    }

    .card-title {
        font-size: 1em;
    }

    .card-paragraph {
        font-size: 0.8em;
    }
}



.card-no {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc965a;
    margin-bottom: 10px;
}