.about-container {
    padding: 40px 20px;
    background-color: #222;
}

.content-about {
    color: white;
    text-align: left;
    padding-top: 50px;
}

.content-about h1 {
    font-size: 2em;
}

.content-about h4 {
    font-size: 1.5em;
}

.content-about p {
    font-size: 1em;
}

.content-about .highlight {
    color: #dc965a;
}

.img-container {
    text-align: center;
    width: 100%;
    /* Set default width to 100% */
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
}

.img-container img {
    width: 100%;
    /* Ensure the image takes full width of the container */
    max-width: 100%;
    /* Prevent image from exceeding the container's width */
    border: 2px solid #dc965a;
}

@media (max-width: 768px) {
    .content-about h1 {
        font-size: 1.5em;
    }

    .content-about h4 {
        font-size: 1.2em;
    }

    .content-about p {
        font-size: 0.9em;
    }
}



@media (max-width: 440px) {
    .img-container {
        width: 100%;
        /* Adjust image container width for screens less than 440px */
    }
}